@import "bootstrap-sprockets";
@import "bootstrap";
#author {
  font-style: italic;
  font-family: arial;

}

#title {
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-size: 250px;
  text-shadow: 4px 4px grey;
  line-height: 60px;
  margin-top: 20%;
}

.index-background {
  background-color: #556B2F;
}